<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Distance converter</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-5 text-center text-dark">
          Convertor between Kilometres and Miles
        </h1>
        <p class="lead">Input distance in one of measurements above</p>
        <hr />
        <label for="Kilom">Kilometres</label>
        <input id="Kilom" type="number" placeholder="Kilometres.." />
        <label for="Miles">Miles</label>
        <input id="Miles" type="number" placeholder="Miles.." />
        <hr />
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-danger btn-lg" onclick="location.href='TempConverterUI.html'">Temperature conv.</button>
        </div>
      </div>
    </div>
  </body>
</html>