<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Temperature converter</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-5 text-center text-dark">
          Convertor between Celsius, Kelvin and Fahrenheit
        </h1>
        <p class="lead">Input temperature in one of measurements above</p>
        <hr />
        <label for="Celc">Celsius</label>
        <input id="Celc" type="number" placeholder="Celsius.." />
        <label for="Fahr">Fahrenheit</label>
        <input id="Fahr" type="number" placeholder="Fahrenheit.." />
        <label for="Kelv">Kelvin</label>
        <input id="Kelv" type="number" placeholder="Kelvin.." />
        <hr />
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-danger btn-lg" onclick="location.href='DistConverterUI.html'">Distance conv.</button>
        </div>
      </div>
    </div>
    <script src="/dist/main.js"></script>
  </body>
</html>
