<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>10a</title>
</head>
<body>
  <h3>Temperature conversion</h3>
    <p>Enter temperature units: </p>
    <input name="inputTemp" type="number" id="tempToConvert"><br><br>
    <button id= "btnConvertToCels">Convert to Celsius</button>
    <button id= "btnConvertToFahr"s>Convert to Fahrenheit</button>
    <div id="tempConversionOutput"></div>
    
  <h3>Distance conversion</h3>  
  <p>Enter distance units: </p>
  <input name="inputDist" type="number" id="distToConvert"><br><br>
  <button id="btnConvertToMiles">Convert to Miles</button>
  <button id="btnConvertToKm">Convert to Kilometers</button>
  <div id="distConversionOutput"></div>
  <script type="text/javascript" src="dist/main.js"></script>
</body>
</html>